.history-dropdown {
  background-color: #343541;
  color: #fff;
  transition: all 0.5s;
  z-index: 99;
}

.history-ul {
  width: 100%;
  padding-inline-start: 0;
}

.history-ul li {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.history-ul li:hover {
  background-color: #3e3f4a;
}

.dropdown-history-text {
  width: 100%;
  text-align: left;
}

.dropdown-comment-icon,
.dropdown-trash-icon {
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin: 0 1rem 0 0;
}

.dropdown-trash-icon {
  margin: 0 0 0 1rem;
}

.delete-history {
  display: flex;
  padding: 0;
}

.delete-history h6 {
  margin: 0 0.25rem 0 0;
}