@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:opsz@6..96&family=Lato&family=Marcellus&family=Open+Sans&family=Poppins&family=Roboto+Condensed&family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
  padding-inline-start: 0;
}

input, button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}